In [43]:
import json
import pandas as pd
from pprint import pprint

with open('geo_parsed.json') as data_file:    
    data = json.load(data_file)

# Visualize distribution of the number of GeoParse fields across the 10k Sample

In [44]:
len(data)

10000

In [45]:
data[1]['Geo_Info']

In [46]:
def get_number_of_geo_info_fields(geo_parse_dictionary):
    if geo_parse_dictionary['Geo_Info']==None:
        return(0)
    else:
        return(len(geo_parse_dictionary['Geo_Info'].keys()))

In [49]:
L = pd.DataFrame([get_number_of_geo_info_fields(x) for x in data])

In [50]:
L

       0
0      3
1      0
2     12
3     27
4      0
5      0
6      6
7      0
8      0
9      0
10     3
11     9
12     0
13     0
14     6
15     0
16     3
17     0
18    12
19     0
20     0
21     0
22     0
23     3
24    57
25     0
26     0
27     6
28     0
29     0
...   ..
9970   6
9971   0
9972   6
9973   0
9974   0
9975   9
9976   6
9977   0
9978   0
9979   0
9980  18
9981   3
9982   0
9983   0
9984  12
9985  15
9986   0
9987   3
9988   0
9989   0
9990   0
9991   9
9992   3
9993   3
9994   0
9995   0
9996  12
9997   3
9998   0
9999   3

[10000 rows x 1 columns]

# Visualize distances from Los Angeles

In [31]:
import geopy

In [32]:
from geopy.distance import vincenty

In [34]:
newport_ri = (41.49008, -71.312796)
cleveland_oh = (41.499498, -81.695391)
print(vincenty(newport_ri, cleveland_oh).miles)

538.3904451566326

In [51]:
def get_lat_lon_out_of_geoparsed_data(dictionary):
    dictionary['Geo_Info']